@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html ,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.row button{
    width: 50px;
    padding:  20px 18px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}